<%= erb :header %>

<style>
  /* Your CSS styles here */

  /* General Styles */
  label {
    font-weight: bold;
  }

  .label {
    cursor: default;
  }

  .dashboard-label {
    padding: 2px 4px;
    color: #ffffff;
    border-radius: 5px;
  }

  .dashboard-part {
    width: 115px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid black;
    float: left;
    margin: 3px;
    font-weight: bold;
    color: black;
  }

  .dashboard-status {
    margin: 0 0 5px;
  }

  .table th a {
    color: black;
  }

  li > h4 {
    display: inline-block;
  }

  /* Status Labels */
  .label-status-designing {
    background-color: #38e;
  }

  .label-status-material {
    background-color: #f77;
  }

  .label-status-ordered {
    background-color: #f90;
  }

  .label-status-review {
    background-color: #e5f;
  }

  .label-status-rough {
    background-color: #b00;
  }

  .label-status-drawing {
    background-color: #bb0;
  }

  .label-status-ready,
  .label-status-3d-pla,
  .label-status-3d-markforge,
  .label-status-open {
    background-color: #0bb;
  }

  .label-status-outsourced {
    background-color: #f06;
  }

  .label-status-manufacturing {
    background-color: #b0b;
  }

  .label-status-welding {
    background-color: #99b;
  }

  .label-status-scotchbrite {
    background-color: #796;
  }

  .label-status-anodize,
  .label-status-obsolete {
    background-color: #000;
  }

  .label-status-powder {
    background-color: #00a;
  }

  .label-status-coating {
    background-color: brown;
  }

  .label-status-assembly,
  .label-status-done,
  .label-status-received {
    background-color: #3d6;
  }

  /* Priorities */
  .priority-0 {
    background-color: #fa4;
  }

  .priority-1 {
    background-color: #4a7;
  }

  .priority-2 {
    background-color: #aaa;
  }
</style>

<div class="container">
  <div class="pull-right" style="margin-top: 15px;">
    <a href="/new_user" class="btn btn-success btn-sm">
      <i class="icon-white icon-user"></i> New User
    </a>
  </div>
  <div class="mb-3">
    <h2>Active Users</h2>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Name</th>
          <th>Permission</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% User.where(:enabled => 1).order_append(:last_name).order_append(:first_name).each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= User::PERMISSION_MAP[user.permission] %></td>
            <td>
              <a href="/users/<%= user.id %>/edit" class="btn btn-primary btn-sm">
                <i class="icon-white icon-pencil"></i> Edit
              </a>
              <a href="/users/<%= user.id %>/delete" class="btn btn-danger btn-sm">
                <i class="icon-white icon-trash"></i> Delete
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mb-3">
    <h2>Disabled/Pending Users</h2>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Name</th>
          <th>Permission</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% User.where(:enabled => 0).order_append(:last_name).order_append(:first_name).each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= User::PERMISSION_MAP[user.permission] %></td>
            <td>
              <a href="/users/<%= user.id %>/edit" class="btn btn-primary btn-sm">
                <i class="icon-white icon-pencil"></i> Edit
              </a>
              <a href="/users/<%= user.id %>/delete" class="btn btn-danger btn-sm">
                <i class="icon-white icon-trash"></i> Delete
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= erb :footer %>
